@model AdventuresWebApp.Models.StateProvince

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StateProvince</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StateProvinceCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateProvinceCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsOnlyStateProvinceFlag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsOnlyStateProvinceFlag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rowguid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rowguid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountryRegionCodeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryRegionCodeNavigation.CountryRegionCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Territory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Territory.CountryRegionCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StateProvinceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
