@model IEnumerable<AdventuresWebApp.Models.SalesTerritory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Group)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesYtd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesLastYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostYtd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostLastYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rowguid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryRegionCodeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesYtd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesLastYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostYtd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostLastYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rowguid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryRegionCodeNavigation.CountryRegionCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TerritoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TerritoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TerritoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
