@model AdventuresWebApp.Models.CreditCard

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CreditCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpMonth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpMonth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CreditCardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
